[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Shiboken
Comment=Python bindings generator that uses API Extractor and outputs CPython code.
Exec=shiboken
Icon=archassault-menu.png
Terminal=false
StartupNotify=false
Categories=Application;Development;
