[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Python-magic
Comment=Python bindings to allow you to access the libmagic api
Exec=python-magic
Icon=archassault-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
