pkg/
src/
trunk/

/.gnupg/
/.subversion/

*.swp
*~
*.tmp
tags

.MTREE
.PKGINFO 
.SRCINFO

*.part
*.7z
*.asc
*.bz2
*.bzip
*.db
*.db.*
*.deb
*.dmg
*.egg
*.exe
*.gem
*.gz
*.iso
*.jar
*.java
*.lzma
*.log
Makefile*
*.o
*.out
*.pdf
*.rar
*.rpm
*.sig
*.tar
*.tgz
*.xpi
*.xz
*.zip
*.key
*.h
*.c
