[Desktop Entry]
Type=Application
Version=1.0
Name=Android SDK
Comment=Android Sofware Development Kit
Exec=sh -c 'cd /opt/android-sdk/tools; ${SHELL:-bash}'
Icon=android-sdk
Terminal=true
Categories=Development;IDE;Java;ArchassaultMobile;
