[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Beef
Comment=BeEF, the Browser Exploitation Framework - it is a penetration testing tool that focuses on the web browser
Exec=beef
Icon=archassault-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultExploitation;
