[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Checksec
Comment=The checksec.sh script is designed to test what standard Linux OS and PaX security features are being used.
Exec=checksec
Icon=archassault-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultAutomation;ArchAssaultScanner;
