[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Openvas-scanner
Comment=The OpenVAS scanning Daemon
Exec=openvas-scanner
Icon=archassault-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultScanner;
