[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Arpantispoofer
Comment=A utility to detect and resist BIDIRECTIONAL ARP spoofing. It can anti-spoof for not only the local host, but also other hosts in the same subnet. It is also a handy helper for gateways which don't work well with ARP.
Exec=arpantispoofer
Icon=archassault-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultDefensive;
