[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Python2-netlib
Comment=A collection of network utilities used by pathod and mitmproxy
Exec=python2-netlib
Icon=archassault-menu.png
Terminal=false
StartupNotify=false
Categories=Application;Network;
