[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Openvas-libraries
Comment=The OpenVAS libraries
Exec=openvas-libraries
Icon=archassault-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
