[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pwnat
Comment=A tool that allows any number of clients behind NATs to communicate with a server behind a separate NAT with *no* port forwarding and *no* DMZ setup on any routers in order to directly communicate with each other
Exec=pwnat
Icon=archassault-menu.png
Terminal=false
StartupNotify=false
Categories=ArchAssault;ArchAssaultNetworking;
