[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Hackrf
Comment=Driver for HackRF, allowing general purpose software defined radio (SDR).
Exec=hackrf
Icon=archassault-menu.png
Terminal=false
StartupNotify=false
Categories=Application;
