[Desktop Entry]
Type=Application
Version=1.0
Name=appname
Comment=Description of the application
Exec=env TERM=xterm-256color sh -c '/usr/bin/appname -h; ${SHELL:-bash}'
Icon=appname
Terminal=true
Categories=Archassault;ArchassaultCategory;
