[Desktop Entry]
Version=1.0
Type=Application
Name=Some App
Comment=Some app does this
Exec=env TERM=xterm-256color /usr/bin/someapp
Icon=someapp
Categories=Category1;Category2;
Terminal=true
